body{
	background-color: silver;
	padding: 0;
	margin: 0;
}

header nav{
	font-family: just another hand;
	font-size: 30px;
}

header nav ul{
	list-style: none;
	margin: 0;
	padding: 0;

}

header nav ul li{
	margin: 0;
	padding: 0;
	float: left;
	width: 200px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.8);
	line-height: 40px;
	text-align: center;
}

header nav ul li a{
	display: block;
}

header nav ul li a:hover{
	background-color: silver;
}

header nav ul li ul li{
	display: none;
}

header nav ul li:hover ul li{
	display: block;
}

header nav ul li ul li a{
	text-decoration: none;
	color: black;
}

header nav ul li ul li a:hover{
	color: white;
}

h1.suivant, h1.precedent{
	margin-top: 200px;
}

h1.suivant a{
	font-family: baloo bhai;
	text-decoration: none;
	color: white;
	background-color: red;
	padding: 10px;
	border: 2px solid transparent;
	transition: 0.3s;
}

h1.suivant a:hover{
	color: red;
	background-color: white;
	border: 2px solid red;
}

h1.precedent a{
	font-family: baloo bhai;
	text-decoration: none;
	color: white;
	background-color: red;
	padding: 10px;
	border: 2px solid transparent;
	transition: 0.3s;
}

h1.precedent a:hover{
	color: red;
	background-color: white;
	border: 2px solid red;
}

h1.point{
	color: silver;
}

h1.nfp{
	margin-top: 100px;
	color: blue;
	font-family: roboto;
	background-color: yellow;
}